@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

.bg {
    background-color: #101820;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passContainer {
    background-color: #FEE715;
    min-width: 250px;
    min-height: 300px;
    text-align: center;
    padding: 10px;
}

h2 {
    font-family: 'Muli', sans-serif;
    font-size: 24px;
}

.outputContainer {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    min-height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.finalPassword {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

.copyBtn {
    height: auto;
    width: 35px;
    margin-right: 5px;
    background-color: #101820;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.generateBtn {
    width: auto;
    margin-top: 15px;
    background-color: #101820;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.size {
    font-size: 20px;
    padding-bottom: 5px;
}

.owner {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}
